obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/BackstageTask_Second.csproj.GenerateResource.Cache
obj/Debug/BackstageTask_Second.csproj.FileListAbsolute.txt
obj/Debug/BackStageTask_Second.pdb
obj/Debug/BackStageTask_Second.exe
bin/Debug/BackStageTask_Second.exe
BackstageTask_Second.csproj
BackstageTask_Second.csproj.user