<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
  <appSettings>
    <add key="strconn_base_c" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.20.70.21)(PORT=1521))(CONNECT_DATA=(SID=cusdoc)));User Id=cusdoc;Password=cusdoc2016;Pooling=true;Min Pool Size=100;Max Pool Size=1000;"/>
    <add key="strconn_c" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.20.70.21)(PORT=1521))(CONNECT_DATA=(SID=cusdoc)));User Id=cusdoctool;Password=custool20160718;Pooling=true;Min Pool Size=100;Max Pool Size=1000;"/>
    <add key="strconn" value="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.252.14)(PORT = 1521))(ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.252.15)(PORT = 1521))(LOAD_BALANCE = yes))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = custdb)(FAILOVER_MODE =(TYPE = SELECT)(METHOD = BASIC)(RETRIES = 180)(DELAY = 5))));User Id=cusdoctool;Password=custool20160718;Pooling=true;Min Pool Size=100;Max Pool Size=1000;"/>   
    <add key="strconn_base" value="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.252.14)(PORT = 1521))(ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.252.15)(PORT = 1521))(LOAD_BALANCE = yes))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = custdb)(FAILOVER_MODE =(TYPE = SELECT)(METHOD = BASIC)(RETRIES = 180)(DELAY = 5))));User Id=cusdoc;Password=pass20160421cus;Pooling=true;Min Pool Size=100;Max Pool Size=1000;"/>
    <add key="ImagePath" value="D:\ImagePath\"/>
    <add key="filedir" value="D:\ftpserver\"/>    
    <add key="shrinkdir" value="D:\Apago\PDFShrink\PDFShrink.exe"/>
    <add key="compalftpip_l" value="172.20.70.188"/>
    <add key="compalftpip" value="221.224.21.30"/>
    <add key="compalftpusername" value="fw4compal"/>
    <add key="compalftppassword" value="compal&amp;feili" />
    <add key="redisserver" value="192.168.252.8" />
    <add key="redisserver_w" value="223.68.174.213" />    
    <add key="redisserver_c" value="172.20.70.20" />
  </appSettings>
</configuration>
